@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Reem+Kufi:wght@400;500;600;700&display=swap');
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    background: url("../img/BG.png") no-repeat;
    background-size: cover;
    font-family: 'Reem Kufi', sans-serif, bootstraps-icon;
    color: #FFFFFF;
}
.cont{
    background-color: rgba(9, 9, 9, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: scroll;
    overflow-x: hidden;
}
.cont{
    width: 100%;
}
.home{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.about{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
.services{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.contact{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}