html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background: #090909;
    overflow: hidden;
}
.body{
    width: 100%;
    height: 100%;
    display: none;
    background: url("../img/BG.png") no-repeat;
    background-size: cover;
    font-family: 'Reem Kufi', sans-serif, bootstraps-icon;
    color: #FFFFFF;
}
.cont{
    background-color: #09090940;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: scroll;
    overflow-x: hidden;
}
.cont{
    width: 100%;
}
.home{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    -webkit-transition: ease-in-out 0.3s;
    transition: 0.3s;
}
.about{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    -webkit-transition: 0.3s;
}
.what_we_do{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
.contact{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}