.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.abt,.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}