.nav{
    width: 250px;
    height: 100%;
    display: flex;
    background-color: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px #000000;
    justify-content: center;
}
.mobile-nav{
    display: none;
}
.menu{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link{
    transition: 0.3s;
}
.menu-btn{
    width: 200px;
    height: 50px;
    text-align: left;
    padding: 0px 20px;
    background: none;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    transition: 0.3s;
}
.menu-btn:hover,.active-menu{
    font-weight: 600;
    font-size: 18px;
    padding: 0px 25px;
    color: #EAE82A;
    text-shadow: #67BD48 0px 0px 20px;
}