@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Pixelify+Sans&family=Reem+Kufi:wght@400;500;600;700&display=swap');
.cont::-webkit-scrollbar{
    width: 7px;
}
.cont:hover
.cont::-webkit-scrollbar-track{
    background-color: #232323;
    box-shadow: inset 0 0 10px grey; 
    border-radius: 10px;
}
.cont::-webkit-scrollbar-thumb{
    background: linear-gradient(#3494CC,#EAE82A,#67BD48);
    border-radius: 10px;
}
.logo{
    width: 200px;
    height: 100px;
    background-image: url("../img/Logo.png");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center;
}
.home_cont{
    width: 100%;
}
.home_slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hometxt{
    width: auto;
    font-size: 20px;
}
.menu-link{
    width: 200px;
    height: 50px;
    text-align: left;
    padding: 0px 20px;
    background: none;
    border: none;
    color: #FFFFFF;
    transition: 0.3s;
}
.menu-link:hover{
    font-weight: 600;
    font-size: 18px;
    padding: 0px 30px;
    color: #3494CC;
    text-shadow: #67BD48 0px 0px 20px;
}
.slider img{
    width: 100px;
    height: 100px;
    border: #FFFFFF;
}
.connect{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background: none;
    border: 2px solid #67BD48;
    color: #FFFFFF;
    border-radius: 5px;
    transition: 0.3s;
}
.connect:hover{
    width: 200px;
    border-radius: 10px;
    background-color: #67BD48;
    color: #000000;
    font-size: 18px;
}
.spacer{
    padding: 10px;
}
.space{
    padding: 0px 5px;
}
.card-space{
    height: 25vh;
}
.gap{
    padding: 5px 0px;
}
.tab-spacer{
    padding: 5px;
}
.divider{
    padding: 25px;
}
.imgabt{
    height: 350px;
}
.abt-head,.our-head,.why-head{
    font-size: 40px;
}
.our{
    text-align: right;
}
.abt-content{
    text-align: right;
    margin: -200px 0 0 0;
    background: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 0 0 10px #000000;
    border-radius: 10px;
    width: 594px;
    height: 300px;
    padding: 25px;
}
.abt-high{
    background: linear-gradient(90deg,#3494CC,#EAE82A,#67BD48);
    font-size: 18px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-content{
    text-align: left;
    margin: -200px 0 0 0;
    background: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 0 0 10px #000000;
    border-radius: 10px;
    width: 594px;
    height: 300px;
    padding: 25px;
}
.why{
    text-align: center;
}
.why-content{
    margin: -125px 0 0 0;
    background: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 0 0 10px #000000;
    padding: 25px;
    border-radius: 10px;
}
.tab{
    text-align: left;
    background-color: rgba(9, 9, 9, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    height: 190px;
    padding: 20px;
    border-radius: 10px;
}
.tab-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.tab-head i{
    font-size: 30px;
}
.contact-content{
    text-align: center;
}
.contact-head{
    font-size: 40px;
}
.sub-head{
    font-size: 14px;
}
.contact-cont{
    background: #23232380;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #000000;
}
.cont-form{
    padding: 40px 40px;
}
.cont-detls{
    text-align: left;
    padding: 40px 40px;
    background-color: #090909bf;
}
.fname,.cname,.phno,.mailid{
    width: 240px;
    height: 50px;
    background: #090909;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 0px 10px;
    font-size: 14px;
    transition: 0.3s;
}
.fname::placeholder,.cname::placeholder,.phno::placeholder,.mailid::placeholder{
    color: #FFFFFFB6;
}
.fname:focus,.cname:focus,.mailid:focus,.phno:focus,.typeof:focus,.phno:hover,.fname:hover,.cname:hover,.mailid:hover,.typeof:hover{
    padding: 0px 15px;
    outline: none;
    border: 2px solid #3494CC;
    box-shadow: 0 0 10px #3494CC;
    transition: 0.3s;
}
.message:focus,.message:hover{
    padding: 15px 15px;
    outline: none;
    border: 2px solid #3494CC;
    box-shadow: 0 0 10px #3494CC;
    transition: 0.3s;
}
.person-info,.cont-info{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.typeof{
    width: 500px;
    height: 50px;
    background: #090909;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0px 10px 0 10px;
}
.message{
    background: #090909;
    border: none;
    border-radius: 10px;
    color: #67BD48;
    padding: 10px 10px;
    text-align: start;
    width: 500px;
    height: 100px;
    font-size: 14px;
}
.message::placeholder{
    color: #FFFFFFB6;
}
.submit{
    width: 500px;
    height: 40px;
    color: #67BD48;
    border: none;
    background: #090909;
    border-radius: 10px;
    transition: 0.3s;
}
.submit:hover{
    color: #FFFFFF;
    border: 2px solid #67BD48;
    font-weight: 700;
    box-shadow: 0 0 10px #67BD48;
    transition: 0.3s;
}
.detls{
    text-decoration: none;
}
.head-contact{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.3s;
}
.head-contact:hover{
    text-shadow: 0 0 20px #3494CC;
}
.follow-head{
    font-size: 20px;
    font-weight: 700;
}
.sicons,.cicon{
    font-size: 25px;
    text-decoration: none;
}
.sicons{
    display: flex;
    justify-content: space-between;
}
.icon{
    color: #FFFFFF;
    transition: 0.3s;
}
.icon:hover{
    text-shadow: 0 0 20px #67BD48;
}
.what-content{
    text-align: center;
}
.what-cards{
    display: flex;
}